body{
    display: grid;
    background-color: hsl(0, 0%, 81%);
    width: 70vw;
    font-size: 15px;   
}
.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    width:100%;
    height: 100%;
    margin: auto;

}
.Daniel{
    background-color: hsl(263, 55%, 52%);
    grid-column: 1/3;
    border-radius: 10px;
    padding: 25px;
}
.Jonathan{
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 25px;
}
.Jeanette{
    background-color:hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 25px;
}
.Patrick{
    background-color: hsl(219, 29%, 14%);
    grid-column: 2/4;
    border-radius: 10px;
    padding: 25px;
}
.Kira{
    background-color: hsl(0, 0%, 100%);
    grid-column: 4/5;
    grid-row: 1/3;
    border-radius: 10px;
    padding: 25px;
}

.username{
    display: flex;
}
.name-verified{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.quotations{
    display: flex;
    justify-content: right;
    right: 0;
}
#gray .quotes{
    color: hsl(210, 46%, 95%);
    opacity: 0.7;
}
#grayish .quotes{
    color:  hsl(217, 19%, 35%);
    opacity: 0.7;
}
#grayish .name{
    color: hsl(219, 29%, 14%);
}
#grayish .verified{
    color: hsl(219, 29%, 14%);
    opacity: 0.5;
}
#gray .name{
    color: hsl(210, 46%, 95%);
}
#gray .verified{
    color: hsl(210, 46%, 95%);
    opacity: 0.5;
}
#gray .comment{
    color: hsl(0, 0%, 81%);
}
#grayish .comment{
    color: hsl(217, 19%, 35%);
}
img{
    border-radius: 50%;
    border:2px solid whitesmoke;
}
.Patrick img{
    border-radius: 50%;
    border: 2px solid hsl(263, 55%, 52%);
}

@media screen and (max-width:700px){
    .testimonials{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: auto;
        object-fit: contain;
    }

    
}
.attribution{
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}